.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.not-found-code {
    text-align: center;
    font-size: xx-large;
}

.not-found-heading {
    text-align: center;
    font-size: x-large;
}
