:root {
    --bg: #232527;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --text: #efeef0;
    --text-1: #b1b1c2;
    --gray: #444;
    --accent-red: #E13E3B;
    --accent-orange: #EE903C;
    --accent-yellow: #FADF3D;
    --transition: all .2s ease;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-sans);
}

.turbo-progress-bar {
    height: 4px;
    background: linear-gradient(45deg, var(--accent-red), var(--accent-yellow));
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    padding-block: 48px;
}

.nav {
    display: flex;
    width: 100%;
    max-width: 896px;
    padding: 32px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu .menu-item {
    list-style-type: none;
}

.main {
    flex-grow: 1;
    width: 100%;
    max-width: 896px;
    padding: 32px;
    margin: 0 auto;
}

.home--section {
    margin-bottom: 64px;
}

.main .home--social {
    list-style-type: none;
    padding-left: 0;
    margin-top: 32px;
}

.home--social li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 896px;
    padding: 16px;
    margin: 0 auto;
}

.foooter-text {
    text-align: center;
}

.footer--social {
    display: flex;
    gap: 12px;
    list-style-type: none;
    font-size: 28px;
}

.gradient-text {
    background: var(--accent-red);
    background: linear-gradient(to top left, var(--accent-red) 0%, var(--accent-yellow) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

.text-secondary {
    color: var(--text-1);
}

.container {
    margin-top: 48px;
}

.text > * {
    margin-block: 16px;
}

.text ul,
.text ol {
    padding-left: 40px;
}

.text ul > li,
.text ol > li {
    margin-block: 8px;
}

.text blockquote {
    padding-left: 8px;
    border-left: 1px solid var(--text-1);
}

.text blockquote * {
    color: var(--text-1);
}

@media screen and (max-width: 512px) {
    .header > .nav,
    .nav > .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 24px;
    }
}

.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.picture,
.picture * {
    border-radius: 8px;
    max-width: 100%;
}

.picture figcaption {
    text-align: center;
    font-size: small;
    color: var(--text-1);
}
