.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
}

.marquee-content {
    display: inline-block;
    animation: scroll 1.5s linear infinite;
}

.marquee[data-direction="right"] > .marquee-content {
    animation: scroll-right 1.5s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-205%);
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(-205%);
    }

    to {
        transform: translateX(0);
    }
}
