.prose :not(.astro-code) code {
    padding: 3px 6px;
    border-radius: 4px;
    background: #44403c;
}

.prose :not(.astro-code) code::before,
.prose :not(.astro-code) code::after {
    content: '';
    display: none;
}

.prose :not(.card) a:hover {
    color: #f87171;
}

blockquote p::before,
blockquote p::after {
    content: '';
    display: none;
}
