.prose :not(.astro-code) code {
    padding: 3px 6px;
    border-radius: 4px;
    background: #44403c;
}

.prose :not(.astro-code) code::before,
.prose :not(.astro-code) code::after {
    content: '';
    display: none;
}

.prose :not(.card) a:hover {
    color: #f87171;
}

.prose blockquote p::before,
.prose blockquote p::after {
    content: '';
    display: none;
}

.prose kbd {
    font-family: monospace;
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    box-shadow: none;
    border: 1px solid #78716c;
}

.not-prose kbd {
    border: none;
}
