---
import { Icon } from 'astro-icon/components'
import Layout from '@layouts/Layout.astro'
---

<Layout frontmatter={{ title: '404' }}>
    <div class="flex flex-col items-center gap-4">
        <h1>404</h1>
        <p>Такой страницы не существует</p>
        <nav class="flex gap-2">
            <a href="/" aria-label="На главную"><Icon name="carbon:home" size="32px" /></a>
        </nav>
    </div>
</Layout>
