<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/blog.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/tags.css" type="text/css" media="all" />
    {{ partial "meta.html" . }}
</head>
<body>
    <div class="wrapper">
        {{ partial "header.html" . }}
        <main class="main">
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer.html" . }}
    </div>
</body>
</html>
