@import 'src/styles/media'
@import 'src/styles/mixins'
@import 'src/styles/variables'

.header
	position: sticky
	top: 0
	display: flex
	padding: 16px 32px
	align-items: center
	justify-content: space-between
	background-color: $translucent-white
	backdrop-filter: blur(4px)
	z-index: $z-2

.nav
	display: flex
	align-items: center
	width: fit-content
	gap: 16px

	li::marker
		content: ''

.mainLink
	@include gradientFont($gradient)
	font-size: 1.75em
	text-decoration: none


.link
	font-size: 1.5em
	text-decoration: none
	color: $accent-red
