---
import { Icon } from 'astro-icon/components'

const { title, description, href, target = '_self' } = Astro.props
---

<a
    class="card-link not-prose flex items-center justify-between text-neutral-300 border border-stone-700 rounded-lg p-6 hover:border-stone-200 hover:text-stone-50"
    href={href}
    target={target}
>
    <div class="flex flex-col gap-4">
        <h3 class="text-3xl">{title}</h3>
        <p>{description}</p>
    </div>
    <Icon name="carbon:chevron-right" size="24px" />
</a>
