---
import SearchButton from '@components/SearchButton.astro'
---

<header>
    <nav class="flex items-center justify-between flex-wrap gap-4 max-w-7xl mx-auto p-8">
        <a class="header-logo text-2xl font-bold" href="/">Иван Шелепугин</a>
        <ul class="flex gap-6 items-center">
            <li class="flex max-sm:hidden">
                <SearchButton />
            </li>
            <li>
                <a class="font-bold text-xl hover:text-red-400" href="/blog">Блог</a>
            </li>
            <li>
                <a class="font-bold text-xl hover:text-red-400" href="/projects">Проекты</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    .header-logo {
        background: linear-gradient(148deg,rgba(248, 113, 113, 1) 0%, rgba(239, 68, 68, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
