<span
    class="text-stone-700 bg-stone-700 rounded cursor-pointer transition-colors data-[revealed=true]:text-stone-300 data-[revealed=true]:bg-transparent"
    title="Нажмите, чтобы открыть спойлер"
    onclick="event.target.dataset.revealed = true"
>
    <slot />
</span>
