<footer class="py-12 flex flex-col items-center gap-3">
    <p class="text-center text-zinc-400">
        &copy; {{ .Site.Title }}. Дата сборки: {{ dateFormat "02.01.2006" now }}.
        Будьте собой ✨
    </p>
    <p class="text-center text-zinc-400">
        <a href="https://cdn.shelepugin.ru/i/png/cirno-day-2024.png" target="_blank">
            ❄️ С днём Чирно 2024!
        </a>
    </p>
    <nav>
        <ul class="flex gap-3 text-2xl">
            <li>
                <a href="https://github.com/shelepuginivan" target="_blank">
                    {{ partial "icon/github" "#a1a1aa" }}
                </a>
            </li>
            <li>
                <a href="mailto:shelepuginivanm@gmail.com">
                    {{ partial "icon/mail" "#a1a1aa" }}
                </a>
            </li>
            <li>
                <a href="/index.xml" target="_blank">
                    {{ partial "icon/rss" "#a1a1aa" }}
                </a>
            </li>
        </ul>
    </nav>
</footer>
