{{ define "main" }}

<section class="text">
    <h1>Привет!</h1>
    <p>Добро пожаловать на мой сайт! Здесь собраны мои статьи, мысли на интересующие меня темы. А также тут представлены мои проекты.</p>
</section>

<section class="text">
    <h2>Немного о себе</h2>
    <p>Я увлечён разработкой и информатикой. Учусь, принимаю участие в конкурсах и олимпиадах по разным направлениям. В свободное время занимаюсь разными вещами: изучаю новое, пишу статьи, стихи, читаю книги и т.д.</p>
</section>

{{ end }}
