<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/tailwind.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/utopia.css">
    <title>{{ .Title }}</title>
</head>
<body>
    <main>
        <div class="flex flex-col items-center justify-center h-screen overflow-x-hidden">
            <div class="marquee">
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
            </div>
            <div>
                <h1 class="text-8xl text-center py-6">ОБНАРУЖЕНА СЕКРЕТНАЯ СТРАНИЦА</h1>
            </div>
            <div class="marquee" data-direction="right">
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
                <span class="marquee-content text-4xl p-1">Warning</span>
            </div>
        </div>
        <div class="text text-lg max-w-7xl mx-auto px-6 pt-6 pb-20">
            {{ .Content }}
        </div>
    </main>
</body>
</html>
