---
import '../styles/global.css'

const { frontmatter } = Astro.props
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/tailwind.css">
        <title>{frontmatter.title}</title>
	</head>
    <body>
        <header>
            <h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
        </header>
		<slot />
	</body>
</html>
