---
import '../styles/global.css'
import '../styles/markdown.css'

import Breadcrumbs from '@components/Breadcrumbs.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import Search from '@components/Search.astro'

import { ogDate, ogImage, ogTitle, ogURL } from '@utils/seo'

const { frontmatter } = Astro.props
---

<!doctype html>
<html lang='ru'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <meta name='description' content='Добро пожаловать на мой сайт!' />
        <meta name='author' content='Иван Шелепугин' />
        <link rel='icon' type='image/png' href='/favicon.png' />
        <link
            rel='alternate'
            type='application/rss+xml'
            title='Блог Ивана Шелепугина'
            href='/feed.xml'
        />

        {/* Open Graph */}
        <meta property='og:title' content={ogTitle(frontmatter.title)} />
        <meta property='og:description' content={frontmatter.description} />
        <meta property='og:url' content={ogURL('projects', frontmatter.id)} />

        <title>{frontmatter.title} | Иван Шелепугин</title>
    </head>
    <body class='bg-stone-900 flex flex-col h-screen text-stone-50'>
        <Header />
        <main class='mb-auto mx-auto w-full max-w-7xl p-8 pt-32 pb-48 prose prose-stone prose-invert prose-xl' data-pagefind-body>
            <Breadcrumbs
                items={[
                    { label: 'Проекты', href: '/projects' },
                    { label: frontmatter.title, href: `/projects/${frontmatter.id}` },
                ]}
            />
            <slot />
        </main>
        <Footer />
        <Search />
    </body>
</html>

<script src="../scripts/search.ts" />
